<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cattailsw.nanidroid"
  android:versionCode="1"
  android:versionName="0.1">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	    
 	 <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9" />
  <application android:label="@string/app_name" 
    android:icon="@drawable/ic_launcher"
    >
    <activity android:name="Nanidroid"
      android:label="@string/app_name"
      android:launchMode="singleInstance"
      android:theme="@style/NanidroidTheme">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter >
	<action android:name="android.intent.action.VIEW" />
	<category android:name="android.intent.category.DEFAULT" />
	<data android:host="*" />
	<data android:scheme="file" />
	<data android:pathPattern=".*.nar" />
	<data android:scheme="https" />
	<data android:scheme="http" />
      </intent-filter>

    </activity>
    <service android:name=".NanidroidService" android:exported="false" />
    <activity android:name=".Preferences" android:theme="@style/NanidroidTheme" />
  </application>
  
</manifest>
