<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- PR45 only: prohibit legacy ACRA/Google Analytics senders during real
         device validation.  Production variants do not merge this metadata. -->
    <meta-data
      android:name="com.cattailsw.nanidroid.DEVICE_VALIDATION_NO_TELEMETRY"
      android:value="true" />
  </application>
</manifest>
